.bid {
  display: flex;
  justify-content: space-between;
  align-items: center;


  @media screen and (min-width: $screen-xs) {
    min-width: 132px;

    &::before {
      content: "";
      position: relative;
      top: 4px;
      left: 0px;
      width: 2px;
      height: 32px;
      background-color: $color-separate;
    }
  }

  @media screen and (min-width: $screen-sm) {
    min-width: 140px;
  }

  @media screen and (min-width: $screen-xl) {
    min-width: 385px;

    &::before {
      content: none;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__label{
    margin-right: 9px;
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
    font-weight: 500;
  }
}
