.general {
  margin: 0;
  font-family: $font-family;
  color: $color-text;
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: $color-background;
  overflow-x: hidden;

  &__wrapper {
    @media screen and (min-width: $screen-fhd) {
      position: relative;
      width: 1920px;
    }
  }

  &__container {
    @media screen and (min-width: $screen-xl) {
      display: grid;
      grid-template-columns: 306px auto;
    }
  }

  &__menu {
    @media screen and (min-width: $screen-xs) {
      display: none;
    }

    @media screen and (min-width: $screen-xl) {
      display: flex;
    }

    &--active {
      display: initial;

      @media screen and (min-width: $screen-xs) {
        width: 100%;
      }

      @media screen and (min-width: 360px) {
        width: 360px;
        filter: drop-shadow(16px 0 52px rgba(14, 24, 80, 0.2));
      }
    }
  }

  &__overlay {
    display: none;

    &--active {
      @media screen and (min-width: $screen-xs) {
        display: block;
      }

      @media screen and (min-width: $screen-xl) {
        display: none;
      }
    }
  }

  &__page {
    grid-column-start: 2;

    @media screen and (min-width: $screen-xl) {
      display: block;
    }
  }
}
