.interaction {
  width: 40px;
  height: 40px;
  background-color: $color-icon;
  border-radius: 50%;
  border: none;
  position: relative;

  &:hover {
    filter: opacity(0.8);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-focus;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--close-menu {
    margin-right: 17px;

    @media screen and (min-width: $screen-xs) {
      display: block;
    }

    @media screen and (min-width: $screen-xl) {
      display: none;
    }
  }

}
