.modal-connection {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  border-left: 1 solid $color-border;
  z-index: 100;

  @media screen and (min-width: $screen-xs) {
    width: 100%;
    padding: 24px 16px;
  }

  @media screen and (min-width: $screen-sm) {
    width: 440px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    padding: 40px 32px;
  }


}
