
$color-background:          #F8F8F8;
$color-background--active:  #ffffff;
$color-icon:                #FF3E79;

$color-separate:            #EAEAEA;
$color-border:              #D9FFF5;

$color-focus:               #41F6D7;
$color-border--active:      #B8FFEC;

$color-text:                #1B1C21;
$color-text--navigation:    #7E7E82;
$color-text--title:         #7E7E82;

$font-family:               'TT Lakes', Arial, sans-serif;


$screen-xs:                   0;
$screen-sm:                   640px;
$screen-lg:                   960px;
$screen-xl:                   1440px;