.story-picture {

  @media screen and (min-width: $screen-xs) {
    padding: 24px 16px;
  }

  @media screen and (min-width: $screen-sm) {
    padding: 32px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 20px;
  }

  &__picture {
    background-repeat: no-repeat;

    @media screen and (min-width: $screen-xs) {
      position: relative;
      left: -16px;
      width: calc(100% + 32px);
      min-height: 190px;
      background-image: url(img/story-picture/CPS_320x230.jpg);
      background-position-x: 50%;
      background-size: contain;
    //   margin
    //   padding-top: 58%;
    }

    @media screen and (min-width: $screen-sm) {
      position: static;
      width: auto;
      min-height: 260px;
      padding-top: 0;
      background-position-x: 0;
      background-size: contain;
      background-image: url(img/story-picture/CPS_360x260.jpg);
      border-radius: 8px;
      margin-left: 48px;
      min-width: 360px;
    }
    
    @media screen and (min-width: $screen-lg) {
        // margin-top: 50px;
        margin-left: 36px;
        min-width: 531px;
        min-height: 305px;
        background-image: url(img/story-picture/CPS_531x383.jpg);
    }
  }

  &__text {
    overflow: hidden;
    font-family: $font-family;

    @media screen and (min-width: $screen-xs) {
      max-height: 93px;
    }

    @media screen and (min-width: $screen-sm) {
      max-height: 156px;
    }

    &--all {
      max-height: none;
    }

  }
}
